/*
 * Header
 */
    .pag{
        margin-top: 100px;
    }

    nav ul {
        padding: 0px;
        margin: 0px;
    }
		
	nav ul li{
        float:left;
        padding:15px 40px;
		display: block;
        min-height: 45px;

	}
    nav ul li:not(.nav){
        display: flex;
        align-items: center;
        font-size: 19px;
	}
			
    .botH:hover {
        background: coral;
        color: white;
        cursor: pointer;
    }
	
    .sel{
        color: white;
        background: linear-gradient(to bottom, rgb(250, 75, 10),coral);
    }

    header {
        background: rgb(250, 75, 10);
        color: black; 
        width: 100%; 
        left: 0; 
        top: 0; 
        position: fixed;
    }

    .router-link {
        text-decoration: none;
        color: inherit; 
        cursor: pointer; 
    }
    

   


    :root {
        --font-family: Arial, sans-serif;
    }

    body {
        font-family: var(--font-family);
        margin: 0px;
        padding: 20px;
        padding-top: 0px;
        display: grid;
        place-items: center;
    }
 
/*
*   Tablas
*/  
    
    table {
        border-spacing: 10px;
        
        input, select{
            border-radius: 8px;
            border: 1px solid #000000;
            padding-inline-start: 10px;
            height: 24px;
            text-align: center;
        }
        input{
            max-width: 150px;
        }
    }

    .view{
        th:not(.tit),td:not(.esp,.sepa){
            border: 1px solid #000000;
            border-radius: 15px;
            min-width: 75px;
        }
    }
    .bot{
        background-color: rgb(250, 140, 100);
        color: white;
        cursor: pointer;
        border-radius: 15px;
        padding: 10px 20px;
        text-align: center;
        border: 1px solid #000000;
        
    }

    .nBot{
        background-color: white;
        color: gray;
        border-radius: 15px;
        padding: 10px 20px;
        text-align: center;
        border: 1px solid #000000;
        
    }

    .bot:hover{
        color: black;
    }

    th, td {
        padding: 8px;
        text-align: center;
    }

    button:not(#nor) {
        width: 100%;
        height: 100%;
    }

    h3{
        text-align: center;
    }

    .check{
        font-size: 28px;
    }
    
    input[type="radio"] {
        appearance: none;
        border: 0px;
    }

    input[type="radio"]+label::before {
        border: 2px solid #ccc;
        border-radius: 50%;
        background-color: transparent;
        content: "";
        display: inline-flex;
        height: 16px;
        line-height: 16px;
        text-align: center;
        width: 16px;
        margin: 5px;
    }
    
    input[type="radio"]:checked+label::before {
        border-color: white;
        background-color: rgb(250, 140, 100);;
    }
    

    input[type="checkbox"] {
        width: 24px;
        height: 24px;
        accent-color: rgb(250, 140, 100);
    }

    input[type="date"] {
        height: 29px;
    }

    tfoot{
        text-align: center;
        td{
            padding: 1% 15%;
        }
    }
/*
*   Pop-Up
*/
.popUp {
    position: fixed;
    left: 0px;
    top: 50px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
  }
  
  .popUp-content {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(179, 179, 179);
    border: 1px solid black;
  }
  
  .close {
    float: right;
    font-size: 28px;
  }

  .closel {
    font-size: 28px;
  }

/*
*   Home y generales
*/

  h1{
    text-align: center;
  }

  .midDiv{
    position: absolute;
  }

  #izq{
    right: 50%;
  }

  #der{
    left: 50%;
  }

  .des{
    background-color: rgb(179, 179, 179);
    color: white;
  }

  .sepa{
    background-color: rgb(250, 140, 100);
    border-radius: 95%;
    padding: 2px;
  }

/*
*   Fuentes
*/
    @font-face {
        font-family: 'Cursiva';
        src: url('Nautilus.otf') format('opentype');
    }

    @font-face {
        font-family: 'Inicio';
        src: url('RobotoMono-Bold.ttf') format('truetype');
    }

    #lodenico{
        font-family: 'Cursiva', sans-serif;
    }

    .nav{
        font-size: 45px;
    }

/*
*   Inicio Sesion
*/

    #img{
            position: fixed;
            margin-top: 0%;
            width: 50%;
            height: 100%;
            background-image: url('fondo_Inicio.jpeg');
            background-size: cover; 
            right: 50%;
    }

    #info{
        position: fixed;
        margin-top: 0%;
        width: 50%;
        height: 100%;
        background-color: grey;
        background-size: cover; 
        left: 50%;
    }

    .titulo{
        margin-top: 0%;
        height: 25%;
        background-color: rgb(250, 75, 10);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10vw;
    }

    .ini{
        font-family: 'Inicio', sans-serif;
        font-size: 4vw;
        text-shadow: -4px -1px 0px white;
    }

    form{
        text-align: center;
    }

    .dat {
        text-align: center;
        border-radius: 8px;
        border: 1px solid black;
        height: 20px;
    }

    p{
        padding: 15px;
    }

    .warnings {
        position: fixed;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        padding: 10px;
        background-color: rgb(179, 179, 179);
        border: 1px solid black;
      }

      .signo{
        font-size: 30px;
      }

      #tilde{
        color: green;
      }

      #cruz{
        color: red;
      }

      #warn{

        font-size: 50px;
        color: yellow;
      }
